@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Rubik"), local("Rubik-Regular"),
    url("/assets/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Rubik"), local("Rubik-Medium"),
    url("/assets/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local("Rubik"), local("Rubik-MediumItalic"),
    url("/assets/fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
}

// General
img {
  max-width: 100%;
}

// Hero section
.hero-sec__picture {
  position: relative;
  display: block;
  width: 100%;

  z-index: 50;

  max-width: 375px;
  margin-inline: auto;

  @media screen and (min-width: 1280px) {
    width: 100%;
    max-width: 574px;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;
    left: 0;
    top: 0;
    width: 574px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-inline: auto;

    box-shadow: 0px 30px 40px 0px rgba(47, 59, 129, 0.2);
    border-radius: 5%;
  }
}
